* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@mixin btnStyling() {
  font-size: 12px;
  line-height: 12px;
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding: 1.295rem 2.36rem;
  display: inline-block;
  color: #fff;
  background-color: #1D3447;
  border-style: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

@mixin homeArrow() {
  top: 50%;
  margin-top: -50px;
  position: absolute;
  color: black;
  cursor: pointer;
  background-color: #18162e;
  color: white;
  padding: 0.25em;
}

.increment-btn {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  background: #fff url("data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"100\" height=\"50\"><path d=\"M17 25h16M67 25h16M75 17v16\" fill=\"none\" stroke=\"rgb%2859,69,66%29\" stroke-width=\"1.5px\" stroke-linecap=\"round\" stroke-linejoin=\"round\" /></svg>") no-repeat 0 0;
  background-size: 5.6rem 2.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  border-radius: 1.4rem;
  cursor: pointer;
  transition: opacity 0.15s;
  opacity: 0.5;
}

.increment-btn:hover {
  opacity: 1;
}  

.increment-btn:active {
  box-shadow: inset 0 2px 12px -4px #c5d1d9;
}

body {
  background-color: #f3eee4;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  background-color: #212529;
  font-family: Founders Grotesk, Arial Black, sans-serif;
  position: fixed;
  width: 100%;
  z-index: 10;
  padding: 1.2em 1.2em 0.6em;

  .header__top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .header__top--heading {
    font-weight: 400;
    font-size: 1.3em;
    margin: auto;
  }

  .header__top--cart-count {
    position: absolute;
    color: black;
    font-weight: 600;
    right: 1.8em;
    top: 1.45em;
    font-size: 1em;
  }

  .header__top--cart-icon-container {
    cursor: pointer;
  }

  .header__top--cart-icon {
    font-size: 2em;
  }

  .header__nav-menu {
    position: relative;
  }

  .header__nav-menu--btn {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: white;
    font-size: 1.3em;
  }

  .header__nav-menu--btn.active {
    color: #6c757d;
  }

  .header__nav-menu--options {
    display: none;
    list-style: none;
    position: absolute;
    background: #fff;
    z-index: 11;
    max-width: 500px;
    border: 1px solid;
    font-weight: 300;
    color: #212529;
    padding-left: 0;
    left: 0.3em;
  }

  .header__nav-menu--option {
    padding: 0.5em 1em;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .header__nav-menu--option:hover {
    color: #fff;
    background-color: #212529;
  }

  .header__nav-menu--link.active > .header__nav-menu--option {
    background-color: #212529; 
    color: white;
  }
}

.home {
  font-family: Founders Grotesk, Arial Black, sans-serif;
  overflow-x: hidden;

  .home__bg-img {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url('./assets/images/music-symbol.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 28em;
    z-index: -1;
    padding-top: 4em;
  }

  .home__text-container {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    width: 100%;
    text-align: center;
    padding-top: 4em;
    padding-left: 1em;
  }

  .home__text--main {
    margin-bottom: 1em;
  }

  .home__text--shop-link {
    width: 12em;
  }

  .home__text--shop-btn {
    @include btnStyling();
    margin-top: 1.7em;
    border-radius: 3px;
    
  } 

  .home__text--shop-btn:hover {
    color: #1D3447;
    background-color: #fff;
  }

  .home--genres--pop-img-credit {
    margin-top: 1em;
  }

  .home--genres--pop-img-credit a {
    text-decoration: underline;
  }

  .genre-btn-container {
    display: flex;
    flex-direction: column;
    width: 19em;
    text-align: center;
    background-color: #fff;
    padding: 1em 1.5em;
  }

  .home__genres {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
  }

  .home__genres--content {
    display: flex;
    flex-direction: column;
  }

  .home__sub-title-wrapper {
    font-size: 1.65em;
    text-align: center;
    position: relative;
    width: 11em;
    z-index: 1;
  }

  .home__sub-title {
    padding: 0 1em;
    display: inline-block;
    position: relative;
    z-index: 1;
    background-color: #f3eee4;
  }
  
  .home__sub-title-wrapper::after {
    content: "";
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #141618;
  }

  .genre-btn {
    @include btnStyling();
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1em 1.2em;
    border: 2px solid #1D3447;
    background-color: #dadadb;
    color: black;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 1.6;
    text-align: left;
    text-transform: uppercase;
    -webkit-tap-highlight-color: rgba(237,6,119,0.5);
    cursor: pointer;
    width: 14em;
  }

  .genre-btn:after {
    content: '\203A';
    margin-left: auto;
    font-size: 1.2em;
  }

  .genre-btn:hover {
    background-color: #1D3447;
    border: 2px solid #dadadb;
    color: #dadadb;
  }

  .home__best {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4em;
  }

  .home__best--title-wrapper {
    width: 14em;
  }

  .home__best--title {
    padding: 0 0.5em;
  }

  .home__best--featured-album-wrapper {
    margin: 2em auto;
    display: flex;
    max-width: 30em;
    flex-direction: column;
    width: 80%;
    min-width: 20em;
  }

  .home__best--featured-album-img {
    margin: auto;
    width: 100%;
    cursor: pointer;
  }

  .home__best--featured-album-link {
    cursor: pointer;
  }

  .home__best--features-album--description {
    margin-top: 1.5em;
  }

  .home__best--featured-album-link:hover {
    text-decoration: underline;
  }

  .home__best--featured-album-title {
    font-size: 1.2em;
    letter-spacing: 0.05em;
  }

  .home__best--featured-album-info {
    padding: 1em;
  }

  .home__popular-albums {
    margin-top: 1.8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .home__popular-albums--carousel-wrapper {
    max-width: 17em;
    margin: auto;
    overflow: hidden;
  }

  .home__popular-albums--carousel {
    display: flex;
    width: 100%;
    height: 21em;
    transition: transform 0.8s ease-in-out;
  }

  .home__popular-albums--album {
    cursor: pointer;
  }

  .home__popular-albums--img-wrapper {
    width: 17em;
    height: 17em;
    margin: 0.2em;  
  }

  .home__popular-albums--img {
    width: 100%;
    height: 100%;
  }

  .home__popular-albums--info {
    text-align: center;
    margin-top: 0.4em;
    font-size: 1.1em;
  }

  .home__popular-albums--info:hover {
    text-decoration: underline;
  }

  .home__popular-albums--nav-arrows {
    color: white;
    width: 1em;
  }

  .home__popular-albums--left-arrow {
    @include homeArrow();
    margin-right: auto;
    margin-left: -9.5em;
   
  }

  .home__popular-albums--right-arrow {
    @include homeArrow();
    margin-left: auto;
    margin-left: 9.3em;
  }

  svg {
    font-size: 1.6em;
  }
}

.shop {
  font-family: Founders Grotesk, Arial Black, sans-serif;

  .shop__genres {
    display: flex;
    background-color: white;
    width: 100%;
    justify-content: space-evenly;
  }

  .shop__genre-wrapper {
    padding: 0.5em 0.2em;
  }

  .shop__genre {
    color: black;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5em 0.5em;
  }

  .shop__genre:hover {
    background-color: rgba(45,45,45,.65);
  }

  .shop__genre.active {
    background-color: rgba(45,45,45,.65);
  }

  .shop__current-genre-wrapper {
    background-color: #1a1c1f;
  }

  .shop__current-genre {
    text-align: center;
    margin-top: 1em;
    color: white;
    font-weight: 100;
    padding: 2.2em 0;
  }

  .shop__albums {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
    width: 95%;
  }
}

.shop__album {
  height: 80%;
  width: 85%;
  margin: auto;
  margin-bottom: 2em;
  cursor: pointer;
}

.album-page .shop__album {
  max-width: 9em;
  margin: 0 auto;
}

.album__img-wrapper {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 100%;
}

.album__img {
  top: 0;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  font-family: "object-fit:contain", 'object-fit: contain;';
  -o-object-fit: contain;
  object-fit: contain;
  display: block;
  position: absolute;
  width: 100%;
}

.album__overview {
  display: flex;
  flex-direction: column;
  background-color: white;
  font-size: 0.75em;
  min-height: 13em;
  padding: 1em;
}

a {
  text-decoration: none;
  color: black;
}

.album__title {
  margin-bottom: 0.5em;
}

.album__label {
  margin-bottom: 0.5em;
}

.album-page {
  font-family: Founders Grotesk,Arial Black,sans-serif;
  padding-top: 6em;

  .album-page__details--album-img-wrapper {
    text-align: center;
  }

  .album-page__album-img {
    max-width: 80%;
  }

  .album-page__details--text {
    margin-top: 1em;
  }

  .album-page__details--main-info-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .album-page__details--artist-name {
    font-weight: 100;
    margin-top: 0.2em;
  }

  .album-page__details--price-wrapper {
    margin: 1.5em 0 0 0.5em;
    font-weight: 600;
  }

  .album-page__details--sub-info-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1em 0 0 0.5em;
    font-size: 0.8em;
  }

  .album-page__details--generes {
    margin-bottom: 0.2em;
  }

  .album-page__details--album-purchase-wrapper {
    display: flex;
    margin-top: 2em;
    justify-content: space-evenly;
    align-items: center;
  }

  .album-page__extra--related-wrapper {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .album-page__extra--related-heading {
    text-align: center;
    margin-bottom: 1.2em;
  }

  .album-page__extra--related-albums {
    display: flex;
    min-width: 20em;    
  }

  .album-page__extra--nav-arrows {
    display: flex;
    font-size: 1.9em;
    width: 10em;
    justify-content: space-evenly;
    margin-top: 0.4em;
  }

  .album-page__extra--left-arrow {
    cursor: pointer;
  }

  .album-page__extra--right-arrow {
    cursor: pointer;
  }

  .album-page__extra--tracks-wrapper {
    margin-top: 3em;
    padding: 1em;
    background-color: #fff;
  }

  .album-page__extra--tracks-heading {
    text-align: center;
    margin-bottom: 1.5em;
    border-bottom: solid 1px #d4d6d9;
  }

  .album-page__extra--track-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.2em;
    border-bottom: solid 1px #d4d6d9;
    padding: 0.5em;
  }

  .album-page__extra--track-details {
    padding-right: 1em;
    font-size: 0.85em;
  }

  .album-page__extra--track-artists {
    display: flex;
  }

  .album-page__extra--artists-name {
    margin-left: 0.2em;
  }

  .album-page__extra--track-preview {
    cursor: pointer;
  }

  .album-page__extra--play-btn {
    width: 1em;
    height: 1em;
    border-style: solid;
    border-color: #202020;
    box-sizing: border-box;
    border-width: 8px 0px 8px 15px;
    border-color: transparent transparent transparent #202020;
  }

  .album-page__extra--pause-btn {
    width: 1em;
    height: 1em;
    border-style: solid;
    border-style: double;
    border-width: 0px 0px 0px 37px;
    border-color: #202020;
    text-align: center;
  }

  .preview-btn {
    box-sizing: border-box;
    background-color: #fff;
    
    border-color: transparent transparent transparent #202020;
    transition: 0.2s ease-in-out;
    will-change: border-width;
    cursor: pointer;
  
    border-style: solid;
  
    &.album-page__extra--pause-btn{
      border-style: double;
      border-width: 0px 0 0px 15px;
    }
  }


}

.cart-sidebar {
  background-color: #fff;
  font-family: Founders Grotesk,Arial Black,sans-serif;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 1.2em;
  border-left: 10px solid #1D3447;
  overflow: auto;

  .cart-sidebar__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
  }

  .cart-sidebar__header--close {
    cursor: pointer;
  }

  .cart-sidebar__cart-albums--empty {
    text-align: center;
  }

  .cart-sidebar__cart-album {
    display: flex;
    margin-top: 0.5em;
    border-top: 1px solid #d4d6d9;
    padding: 0.8em;
  }

  .cart-sidebar__cart-album--img {
    max-width: 6em;
  }
  
  .cart-sidebar__total {
    border-top: 1px solid #d4d6d9;
    padding: 0.8em;
    border-bottom: 1px solid #d4d6d9;
    margin-top: 1.4em;
  }

  .cart-sidebar__cart-album--text {
    display: flex;
    flex-direction: column;
    margin-left: 1.5em;
    font-size: 0.9em
  }

  .cart-sidebar__cart-album--title {
    font-size: 1.1em;
  }

  .cart-sidebar__cart-album--unit {
    margin: 0.5em 0;
  }

  .cart-sidebar__cart-album--quantity {
    margin-top: 0.4em;
  }

  .cart-sidebar__cart-album--remove {
    margin-left: auto;
    cursor: pointer;
    font-size: 1.1em;
    color: #1D3447;
    transition: color 0.3s ease-in-out;
  }

  .cart-sidebar__cart-album--remove:hover {
    color: crimson;
  }

  .cart-sidebar__proceed-btn{
    align-items: center;
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    margin-top: 2em;
  }

  .cart-sidebar__proceed-btn:active,
  .cart-sidebar__proceed-btn:focus {
    outline: none;
  }

  .cart-sidebar__proceed-btn:hover {
    background-position: -20px -20px;
  }

  .cart-sidebar__proceed-btn:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
  }

  .cart-sidebar__proceed-btn::after {
    content: '>>';
    position: absolute;
    right: 1em;
  }
}